.register-form-wrapper {
  background-image: url('http://localhost:3001/imgs/bg.jpg');
  background-size: 100% 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;

  .register-container {
    background-color: #fff;
    padding: 50px 20px 0 20px;
    position: relative;

    .avatar-wrapper {
      width: 100px;
      position: absolute;
      height: 100px;
      top: -60px;
      cursor: pointer;

      .avatar-img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }

  .hidden {
    display: none !important;
  }

  .title {
    font-size: 18px;
    width: 100%;
    margin-bottom: 12px;
  }

  .register-form {
    width: 300px;
  }

  .register-form-button {
    margin-right: 8px;
  }
}
