.recommend-wrapper {
  padding: 20px 12px 20px 28px;

  .recommend-list {
    display: flex;
    flex-wrap: wrap;
    max-height: 650px;
    overflow: auto;

    .item {
      margin: 0 12px;
    }
  }

  .none-tip {
    .tip {
      margin: 0 4px;
    }
  }
}
