.add-friend-wrapper {
  padding: 20px;

  .title {
    color: #fff;
    margin-bottom: 8px;
  }

  .desc {
    color: #b9bbbe;
    margin-bottom: 12px;
  }

  .add-input {
    background-color: #27282f;
    color: #fff;
    border: 1px solid #1a1a1a;
  }
}
